body {
    background-image:url("http://wallpapercave.com/wp/B5u0Gkp.gif");
    height: 100%;
    width: 100%;
}

h1 {
 color: rgb(77, 77, 77);
}

h1.banners{
    padding-top: 10px;
    font-size: 36px;
    padding:0px;
    margin: 0px;
    line-height:100px;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    width:310px;
    float:left;
}

.banner{
    width:620px;
    height: 100px;
    margin:7px auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    border-radius: 15px;
    padding-left:190px;
}

.banner4{
    color:#2B8EAC;
    background: #656964;
    font-family: "Century Gothic";
}

div.text-center {
    text-align: center;
}

ul.list-unstyled {
    list-style: none;
}

li.btn-default {
    background-color: #656964!important;
    color: rgb(255, 253, 253)!important;
}

.btn {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
    font-size: .81rem;
    transition: color .15s;
    margin: .375rem;
    border: 0;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;

    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    line-height: 1.5;

    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    border-radius: 15px;
}